<ion-content [fullscreen]="false">

  <ion-card style="width: fit-content; height: fit-content">
    <img src="/assets/images/perfil.jpg" alt="Perfil">
    <ion-card-header>
      <ion-card-title>Carlos Manuel Cedeño Barrera</ion-card-title>
      <ion-card-subtitle><strong>carlosmcb02&#64;gmail.com</strong></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>849-873-9131</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>La Altagracia, Verón, Bávaro</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="school" slot="start"></ion-icon>
        <ion-label>Instituto Tecnológico de las Américas (ITLA)</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <!-- Reflexión sobre la democracia, las elecciones o el servicio cívico -->
  <div style="margin-top: 20px; text-align: center;">
    <p>"La democracia no se trata solo de elegir a nuestros líderes, sino también de participar activamente en la construcción de un futuro común a través del servicio cívico y el compromiso con el bienestar de todos."</p>
  </div>

</ion-content>
